body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #212121;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* space below the table */
}

table,
th,
td {
  border: 1px solid #bdbdbd;
  padding: 10px 15px; /* Adjusting the padding for table cells */
  vertical-align: middle; /* Vertical centering */
}

table tr:nth-child(even) {
  background-color: #e0e0e0;
}

table tr:hover {
  background-color: #bdbdbd;
}

button {
  background-color: white;
  color: #212121;
  cursor: pointer;
  padding: 5px 10px; /* Adding some padding to the button */
}

button:hover {
  background-color: #9fa8da;
  color: white; /* Changing text color on hover */
}

.container {
  display: flex;
  height: 100vh; /* ensure the container fills the screen */
}

.side {
  padding: 20px;
}

.drafted-players,
.drafted-players h2 {
  background-color: #212121; /* or your preferred darker color */
  color: #f5f5f5; /* adjust text color for better contrast */
  width: 225px;
  padding: 20px;
  overflow-y: auto; /* to handle overflow content, if any */
  flex: none;
}

.your-team,
.your-team h2 {
  background-color: #212121; /* or your preferred darker color */
  color: #f5f5f5; /* adjust text color for better contrast */
  width: 200px;
  overflow-y: auto; /* to handle overflow content, if any */
  flex: none;
}

.main-content {
  flex: 3; /* this allows the main content to take up thrice the space as the sides */
  padding: 20px;
  background-color: #f5f5f5; /* or your preferred lighter color */
}

.reset-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

#draftedPlayersList {
  list-style-type: decimal; /* Show numbers instead of bullets */
  padding-left: 0; /* Remove default padding */
}

/* Adjustments for name */
.drafted-name {
  display: inline-block; /* To allow for margin adjustments */
  margin-right: 10px; /* Space between the name and the button */
}

/* Additional adjustments for the Add to Team button (optional) */
#draftedPlayersList button {
  border: none;
  color: #212121;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
