<!DOCTYPE html>
<html>
  <head>
    <title>Football Draft Optimizer</title>
    <!-- DataTables CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css"
    />
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- DataTables JS -->
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"
    ></script>
    <link
      href="{{ url_for('static', filename='css/output.css') }}"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 text-black">
    <!-- The Modal -->
    <!-- Modal Backdrop/Overlay -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Setup</h2>
        <form action="#">
          <label for="ppr">PPR:</label><br />
          <select class="form-control" id="ppr" name="ppr">
            <option value="0">0</option>
            <option value="0.5">0.5</option>
            <option value="1" selected>1</option>
          </select>
          <br />
          <label for="teams">Number of Teams:</label><br />
          <input
            type="number"
            class="form-control"
            id="teams"
            name="teams"
            min="6"
            max="24"
            value="10"
          />
          <br />
          <input type="submit" id="submitButton" value="Submit" />
        </form>
      </div>
    </div>

    <div class="container flex h-screen w-full">
      <!-- Left Side - Drafted Players -->
      <div class="side drafted-players flex-1 p-4">
        <h2 class="font-sans text-2xl">Drafted Players</h2>
        <ul id="draftedPlayersList"></ul>
      </div>

      <!-- Center - Available Players -->
      <div class="main-content flex-3 p-4">
        <div class="header-container">
          <h2 class="font-sans text-2xl">Available Players</h2>
          <button onclick="resetSession()">Reset Session</button>
        </div>
        <button class="bg-blue-500 text-white" onclick="optimizePlayers()">
          Optimize Available Players
        </button>
        <div class="datatable-container">
          <div id="round-info"></div>
          <table class="min-w-full bg-white">
            <thead>
              <tr>
                <th class="py-2 px-4 border-b border-gray-200">Name</th>
                <th class="py-2 px-4 border-b border-gray-200">Position</th>
                <th class="py-2 px-4 border-b border-gray-200">
                  Value Over Next Round
                </th>
                <th class="py-2 px-4 border-b border-gray-200">
                  Total Point Gains
                </th>
                <th class="py-2 px-4 border-b border-gray-200">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for player in players.itertuples() %}
              <tr
                id="player-{{ player.name.replace(' ', '-') }}"
                class="hover:bg-gray-100"
              >
                <td class="py-2 px-4 border-b border-gray-200 text-left">
                  {{ player.name }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200 text-left">
                  {{ player.pos }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200 text-left">
                  {{ player.valueOverNextRound }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200 text-left">
                  {{ player.total_pt_gains }}
                </td>
                <td class="py-2 px-4 border-b border-gray-200 text-left">
                  <button
                    onclick="selectPlayer('{{ player.name }}')"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                  >
                    Selected
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <!-- Right Side - Your Team -->
      <div class="side your-team flex-1 p-4">
        <h2 class="font-sans text-2xl">Your Team</h2>
        <ul id="yourTeamList"></ul>
      </div>
    </div>

    <script>
      let draftCounter = 0;

      function selectPlayer(name) {
        // Increment the draft counter
        draftCounter++;

        // Remove the player row from the available players table
        if (name !== "Default Player") {
          let playerNameId = "player-" + name.replace(/\s+/g, "-");
          let playerElement = document.getElementById(playerNameId);
          if (playerElement) {
            playerElement.remove();
          }
        }

        // Add player to the drafted list and provide an "Add to Team" button
        let list = document.getElementById("draftedPlayersList");
        let item = document.createElement("li");
        item.id = "drafted-" + name.replace(/\s+/g, "-"); // Setting an ID for removal later
        item.innerHTML =
          draftCounter +
          ". " +
          name +
          " <button onclick='addToYourTeam(\"" +
          name +
          "\")'>Add to Team</button> <button onclick='revertPlayer(\"" +
          name +
          "\")'>Revert</button>";

        // Insert the new item at the beginning of the list
        if (list.firstChild) {
          list.insertBefore(item, list.firstChild);
        } else {
          list.appendChild(item);
        }

        // Send an AJAX request to update the server-side data
        fetch(`/select_player?name=${name}`, {
          method: "POST",
        }).then((response) => {
          if (response.ok) {
            console.log("player drafted");
            currentPick++;
            updateRoundInfo();
          }
        });
      }

      function optimizePlayers() {
        // Make an AJAX request
        fetch("/get_optimized_players")
          .then((response) => response.json())
          .then((data) => {
            updateRoundInfo();
            console.log(data);
            // Clear the existing table rows
            let tableBody = document.querySelector("tbody");
            tableBody.innerHTML = "";

            // Populate the table with the new data
            data.forEach((player) => {
              let row = document.createElement("tr");
              row.setAttribute(
                "id",
                "player-" + player.name.replace(/\s+/g, "-")
              );

              // Add player data to the row
              ["name", "pos", "valueOverNextRound", "total_pt_gains"].forEach(
                (key) => {
                  let cell = document.createElement("td");
                  cell.textContent = player[key];
                  row.appendChild(cell);
                }
              );

              // Add the "Select" button
              let cell = document.createElement("td");
              let button = document.createElement("button");
              button.textContent = "Selected";
              button.setAttribute("onclick", `selectPlayer('${player.name}')`);
              cell.appendChild(button);
              row.appendChild(cell);

              // Append the row to the table
              tableBody.appendChild(row);
            });
          });
      }

      function resetSession() {
        fetch("/reset_session", {
          method: "POST",
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              window.location.reload(); // Refresh the page
            } else {
              alert("Failed to reset session. Please try again.");
            }
          });
      }

      function addToYourTeam(name) {
        console.log(name);

        // Add player to the 'Your Team' list
        let list = document.getElementById("yourTeamList");
        let item = document.createElement("li");
        item.appendChild(document.createTextNode(name));
        list.appendChild(item);

        // Change the button for the player in the drafted list to a checkmark and disable it
        let btnId = "drafted-" + name.replace(/\s+/g, "-");
        let buttonElement = document.querySelector(`#${btnId} button`);
        buttonElement.innerHTML = "&#10004;"; // This is a checkmark symbol
        buttonElement.disabled = true;

        // [Optional] Send an AJAX request if you wish to update server-side data
      }
      let currentPick = 0; // Initialize a variable to keep track of the current pick

      function updateRoundInfo() {
        fetch("/get_current_teams")
          .then((response) => response.json())
          .then((data) => {
            let numberOfTeams = data.teams;
            let round = Math.floor(currentPick / numberOfTeams) + 1;
            let pick = (currentPick % numberOfTeams) + 1;
            let roundInfo = `${ordinalSuffix(
              round
            )} round, pick ${pick}/${numberOfTeams}`;
            document.getElementById("round-info").innerText = roundInfo;
          });
      }

      // Function to generate the ordinal suffix for a number
      function ordinalSuffix(i) {
        let j = i % 10,
          k = i % 100;
        if (j === 1 && k !== 11) {
          return i + "st";
        }
        if (j === 2 && k !== 12) {
          return i + "nd";
        }
        if (j === 3 && k !== 13) {
          return i + "rd";
        }
        return i + "th";
      }

      function revertPlayer(name) {
        draftCounter--;
        // Remove the player row from the drafted players list
        let draftedNameId = "drafted-" + name.replace(/\s+/g, "-");
        let draftedElement = document.getElementById(draftedNameId);
        if (draftedElement) {
          draftedElement.remove();
        }

        // Add player back to the available players table
        // Your logic here to add back to available players.
        // You can either directly manipulate DOM or call a server function to refresh the list

        // Update the server-side data
        // Send an AJAX request to update the server-side data
        fetch(`/revert_player?name=${name}`, {
          method: "POST",
        }).then((response) => {
          if (response.ok) {
            console.log("Player reverted");

            //reoptimize table
            optimizePlayers();

            currentPick--;
            updateRoundInfo();
          }
        });
      }
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let modal = document.getElementById("myModal");
        let btn = document.getElementById("submitButton");
        let pprInput = document.getElementById("ppr");
        let teamsInput = document.getElementById("teams");

        // Show the modal when the page loads
        modal.style.display = "block";

        btn.onclick = function (event) {
          event.preventDefault();

          let pprValue = pprInput.value;
          let teamsValue = teamsInput.value;

          fetch("/save_settings", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ ppr: pprValue, teams: teamsValue }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                // Close the modal if data was saved successfully
                modal.style.display = "none";
                optimizePlayers();
              } else {
                alert("Failed to save settings. Please try again.");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        };
      });
    </script>

    <script>
      $(document).ready(function () {
        $("table").DataTable({
          order: [[2, "desc"]],
          pageLength: 300,
          lengthChange: false, // Disable the "Show X entries" dropdown
        });
      });
    </script>
  </body>
</html>
