<!DOCTYPE html>
<html>
  <head>
    <title>Football Draft Optimizer</title>
  </head>
  <body>
    <div
      style="
        float: left;
        width: 20%;
        border-right: 1px solid black;
        padding-right: 10px;
      "
    >
      <h2>Drafted Players</h2>
      <ul id="draftedPlayersList">
        <!-- This list will be populated using JavaScript -->
      </ul>
    </div>

    <div style="float: left; width: 50%; padding-right: 10px">
      <button onclick="optimizePlayers()">Optimize</button>
      <h2>Available Players</h2>
      <table border="1">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Value Over Next Round</th>
            <th>Total Point Gains</th>
            <th>ADP</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for player in players.itertuples() %}
          <tr id="player-{{ player.name.replace(' ', '-') }}">
            <td>{{ player.name }}</td>
            <td>{{ player.pos }}</td>
            <td>{{ player.valueOverNextRound }}</td>
            <td>{{ player.total_pt_gains }}</td>
            <td>{{ player.ADP }}</td>
            <td>
              <button onclick="addToYourTeam('{{ player.name }}')">
                Add to Your Team
              </button>
              <button onclick="selectPlayer('{{ player.name }}')">
                Player Selected
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div style="float: right; width: 20%">
      <h2>Your Team</h2>
      <ul id="yourTeamList">
        <!-- This list will be populated similarly to the Drafted Players list -->
      </ul>
    </div>
    <button onclick="resetSession()">Reset Session</button>

    <script>
      function selectPlayer(name) {
        // Remove the player row from the available players table
        let playerNameId = "player-" + name.replace(/\s+/g, "-");
        let playerElement = document.getElementById(playerNameId);
        if (playerElement) {
          playerElement.remove();
        }

        // Add player to the drafted list
        let list = document.getElementById("draftedPlayersList");
        let item = document.createElement("li");
        item.appendChild(document.createTextNode(name));
        list.appendChild(item);

        // Send an AJAX request to update the server-side data
        fetch(`/select_player?name=${name}`, {
          method: "POST",
        }).then((response) => {
          if (response.ok) {
            console.log("player drafted");
          }
        });
      }

      function optimizePlayers() {
        // Make an AJAX request
        fetch("/get_optimized_players")
          .then((response) => response.json())
          .then((data) => {
            // Clear the existing table rows
            let tableBody = document.querySelector("tbody");
            tableBody.innerHTML = "";

            // Populate the table with the new data
            data.forEach((player) => {
              let row = document.createElement("tr");
              row.setAttribute(
                "id",
                "player-" + player.name.replace(/\s+/g, "-")
              );

              // Add player data to the row
              [
                "name",
                "pos",
                "valueOverNextRound",
                "total_pt_gains",
                "ADP",
              ].forEach((key) => {
                let cell = document.createElement("td");
                cell.textContent = player[key];
                row.appendChild(cell);
              });

              // Add the "Select" button
              let cell = document.createElement("td");
              let button = document.createElement("button");
              button.textContent = "Select";
              button.setAttribute("onclick", `selectPlayer('${player.name}')`);
              cell.appendChild(button);
              row.appendChild(cell);

              // Append the row to the table
              tableBody.appendChild(row);
            });
          });
      }

      function resetSession() {
        fetch("/reset_session", {
          method: "POST",
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              window.location.reload(); // Refresh the page
            } else {
              alert("Failed to reset session. Please try again.");
            }
          });
      }

      function addToYourTeam(name) {
        // Add player to your team list
        let list = document.getElementById("yourTeamList");
        let item = document.createElement("li");
        item.appendChild(document.createTextNode(name));
        list.appendChild(item);
        console.log("got here");

        // Treat the player as selected too
        selectPlayer(name); // This will remove the player from the table and add them to the drafted list

        // Send an AJAX request to update the server-side data for your team
        fetch(`/add_to_your_team?name=${name}`, {
          method: "POST",
        }).then((response) => {
          if (response.ok) {
            console.log("player added to your team");
          }
        });
      }
    </script>
  </body>
</html>
